<div class="common-wide-side-panel">
  <div class="common-sidebar-header ">
    Advisor Rep Codes 
  </div>

  <div class="common-sidebar-content ">
    <zega-data-grid [grid]="gridName"
                    selectionMode="multiple"
                    gridCompId="repCodeListingSidebarGridId"
                    [requestRefresh]="refreshGrid"
                    [enableColumnChooser]="false"
                    [requireSelectionOverPages]="true"
                    gridParent="sidebar"
                    [preSelectedRows]="selectedRepCodes"
                    [deSelectRowsManually]="deSelectRowsManually"
                    (gridRowsSelected)="gridRowsSelectedCallback($event)">
    </zega-data-grid>
    <div>

      <div class="common-section-heading">
        Selected Rep Codes
      </div>

      <mat-chip-list #chipList aria-label="Selected Model">
        <mat-chip *ngFor="let repCode of selectedRepCodes" [selectable]="false"
                  [removable]="true" (removed)="removeSelectedRepCode(repCode)">
          {{repCode.code}}
          <i class="fas fa-times" matChipRemove></i>
        </mat-chip>
      </mat-chip-list>

    </div>

  </div>
  <div class="common-sidebar-action-bar">
    <button type="button" class="common-action-btn" (click)="selecRepCodes()"> Save </button>
    <button type="button" class="common-action-btn" (click)="cancel()"> Cancel </button>
  </div>
</div>
<div class="overlay modal-backdrop"></div>
