<div class="container-fluid">
  <form [formGroup]="passwordSettingForm" (ngSubmit)="submitPasswordSettingForm()">
    <div class="row mt-2 mb-4">
      <h2 class="common-heading ml-3">Password Settings</h2>
    </div>
    <div class="row mt-2 mb-4">
      <div class="col-6 pwd">
        <label for="CurrentPwd">Current Password</label>
        <input class="common-input" type="password" [type]="hideC ? 'password':'text'" id="CurrentPwd" formControlName="CurrentPassword" />
        <i class="ml-n4 far mt-2 fa-eye" aria-hidden="true" (click)="hideC = !hideC">
        </i>
      </div>
    </div>
    <div class="row mt-2 mb-4">
      <div class="col-6 pwd">
        <label for="NewPwd">New Password</label>
        <input class="common-input" type="password" [type]="hideN ? 'password':'text'" id="NewPwd" formControlName="Password" />
        <i class="ml-n4 mt-2 far fa-eye" (click)="hideN = !hideN"></i>
        <div class="common-input-error-block pl-4">
            <span *ngIf="passwordSettingForm.get('Password')?.hasError('pattern')">
              The password must be of 8 characters containing an upper case, lower case letter, special character and number.
            </span>
            <span *ngIf="passwordSettingForm.get('Password')?.hasError('Match')">
              Current Password should not be same as the New Password!
            </span>
        </div>
      </div>
    </div>
    <div class="row mt-2 mb-4">
      <div class="col-6 pwd">
        <label for="ReNewPwd">Re-enter Password</label>
        <input class="common-input" type="password" [type]="hideR ? 'password':'text'" id="ReNewPwd" formControlName="ReNewPassword" />
        <i class="ml-n4 mt-2 far fa-eye" (click)="hideR = !hideR"></i>
        <div class="common-input-error-block">
          <span *ngIf="!passwordSettingForm.get('ReNewPassword')?.valid && passwordSettingForm.get('ReNewPassword')?.touched">
            <span *ngIf="passwordSettingForm.get('ReNewPassword')?.hasError('mustMatch')">Confirm Password should be same as Password!</span>
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <span class=" pr-2"><button class="common-action-btn w-25" [disabled]="!passwordSettingForm.valid" type="submit">Save </button></span>
        <span><button class="common-action-btn common-plain-btn w-25" (click)="navigation()" type="reset">Cancel </button></span>
      </div>
    </div>
  </form>
</div>
