<div class="p-3">
  <div class="row mb-3">
    <div class="col-6 common-heading">
      {{IsAdmin ? 'List of Advisors' : 'List Of Accounts'}}
    </div>
    <div class="common-primary-action-bar col-6">
      <button type="button" class="common-action-btn" *ngIf="IsAdmin" (click)="addAccount()"> Add Account Wizard </button>
      <button type="button" class="common-action-btn" (click)="editAccount()" [disabled]="IsAdmin ? false : selectedAccount == 0"> Edit Account Wizard </button>
      <button type="button" class="common-action-btn" (click)="refreshDataGrids()"> Refresh </button>
    </div>

  </div>
  <zega-data-grid [grid]="gridName1"
                  [selectionMode]="IsAdmin ? 'none' : 'single'"
                  [gridParent]="gridParent"
                  [enableColumnChooser]="false"
                  [enableQuickSearch]="false"
                  [enablePagination]="IsAdmin ? false : true"
                  [enableRowsDblClick]="IsAdmin ? false : true"
                  (gridRowsDblClicked)="gridRowsDblClickedCallback($event)"
                  gridCompId="DashboardMaintGridId"
                  [requestRefresh]="refreshGrid"
                  (gridRowsSelected)="gridRowsSelectedCallback($event)">

  </zega-data-grid>


  <div *ngIf="IsAdmin">
    <div class="common-heading mt-3 mb-3"> Import History </div>
    <zega-data-grid [grid]="gridName2"
                    selectionMode="none"
                    [enableColumnChooser]="false"
                    [enableQuickSearch]="false"
                    gridCompId="DashboardImportGridId"
                    [requestRefresh]="refreshGrid">

    </zega-data-grid>
  </div>

</div>
